.checkboxContainer {
  display: flex;
  gap: 4px;
  align-items: flex-start;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  flex-direction: column;
  color: var(--black-color-1);
}

.checkboxWrapper{
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.checkbox{
 cursor: pointer;
 margin-top: 3px;
}

.link{
   text-decoration: underline;
   color: #004AD9;
}
.checkboxWrapper p{
  font-size: 12px;
  line-height: 20px;
}
