.dropdownContainer {
   position: relative;
   width: 100%;

 }
 
 .dropdownButton {
   position: relative;
   width: 100%;
   padding: 8px 16px;
   font-size: 16px;
   line-height: 22px;
   text-align: left;
   color: var(--black-color-1);
   background-color: #fff;
   border: 1px solid var(--grey-border-color);
   cursor: pointer;
   border-radius: 12px;
   height: 56px;
   transition: border-radius 0.3s ease;
 }
 .dropdownButton.open {
  border-radius: 12px 12px 0px 0px; 
}
 .dropdownButton.placeholder {
   color: #AFB5BF; 
 }
.dropdownButton svg {
    transition: transform 0.3s ease;
   width: 20px;
   height: 20px;
   color: var(--black-color-1);
   position: absolute;
   right: 8px;
   top: 50%;
   
   transform: translateY(-50%) rotate(180deg);
 }
 .dropdownButton.rotated svg {
   transform: translateY(-50%) rotate(0deg);
 }

 .dropdownButtonDay {
  border-radius: 12px 0px 0px 12px;
}
.dropdownButtonDay.open{
  border-radius: 12px 0px 0px 0px;
}
.dropdownButtonMonth {
  border-radius: 0px;

  border-right: 0px;
  border-left: 0px;
}
.dropdownButtonMonth.open{
  border-radius: 0px 0px 0px 0px;

}

.dropdownButtonYear {
  border-radius: 0px 12px 12px 0px;
}
.dropdownButtonYear.open{
  border-radius: 0px 12px 0px 0px;

}

 .dropdownContent {
visibility: hidden;
   position: absolute;
   background-color: #fff;
   border-radius: 0px 0px 12px 12px;
   border-left: 1px solid var(--grey-border-color);
   border-bottom: 1px solid var(--grey-border-color);
   border-right: 1px solid var(--grey-border-color);

  /* padding: 16px; */
   z-index: 100;
   width: 100%;
   opacity: 0;
   transition: opacity 0.3s ease, transform 0.3s ease;
   overflow: hidden;
 }
 
 .dropdownContent.show {
   visibility: visible;
   opacity: 1;
   transform: translateY(0);
   padding: 16px 0px;
 }
 .dropdownContent.hide {
   opacity: 0;
 }
 .dropdownContentWrapper{
  padding: 0px 0px 0px 16px;
  /* overflow: hidden; */
  

 }
 .dropdownItem {
   padding: 0px 16px;
   cursor: pointer;
   color: #313131;
   align-content: center;
   background-color: #fff;
   font-size: 16px;
   border-radius: 6px;
   height: 40px;
   margin-right: 16px;
   transition: all .3s ease;
  margin-bottom: 2px;
 }
 .dropdownContentWrapper.scrollable {
   max-height: 400px; 
   overflow-y: auto;
   margin-right: 16px;
   scroll-behavior: smooth;
   
 }
 .dropdownContentWrapper.scrollable::-webkit-scrollbar {
  width:8px;
  position: absolute;
 height: 50%;
  /* height: 3px; */
}

.dropdownContentWrapper.scrollable::-webkit-scrollbar-track {
  background: transparent;
 
  /* padding: 16px; */

}

.dropdownContentWrapper.scrollable::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 16px;
  height: 180px;
  padding: 16px;
  margin-right: 16px;
  background-clip: content-box; 
}

/* .dropdownContent.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

 .dropdownItem:hover {
  /* font-weight: 500; */
  color: var(--purple-color-1);
  background: rgba(55, 0, 143, 0.08);
 }
 .dropdownItem.selected {
   font-weight: 500;
   color: var(--purple-color-1);

   background: rgba(55, 0, 143, 0.08);
 }

 .dropdownItem:last-child {
   border-bottom: none;
 }
@media only screen and (min-width: 375px) and (max-width:767px){
 .dropdownItem{
  margin-bottom: 4px;
 }
 .dropdownContentWrapper.dropdownContentWrapper.scrollable{
  max-height: 260px;
 }
}