.selectionListContainer {
  display: flex;
  width: 100%;
  /* height: 56px; */
}

.selectionListItem {
  font-size: 16px;
  flex: 1;
  align-content: center;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
  color: #313131;
  padding: 8px 16px;
  height: 56px;
  background-color: #fff;
  list-style-type: none;
  transition: all 0.3s;

}


.selectionListItem:hover {
  /* font-weight: 500; */
  color: var(--purple-color-1);

  background: rgba(55, 0, 143, 0.08);
}

.selected {
  font-weight: 500;
  color: var(--purple-color-1);

  background: rgba(55, 0, 143, 0.08);
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .selectionListContainer{
    height: auto;
    
  }
  
}