.thankYouLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thankYouContainer {
  display: flex;
  /* padding: 56px 40px; */
  /* padding: 64px 40px; */
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.titleWrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.thankYouTitle{
text-align: center;
color: var(--black-color-1);
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 28px; 
}
.thankYouDesc{
    max-width: 700px;
    text-align: center;
    color: var(--black-color-1);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}

@media only screen and (min-width:375px) and (max-width:768px) {
    .thankYouContainer{
        /* padding: 24px 16px 0px; */
    }
}
