.container {
  display: flex;
  /* padding: 80px 0px 40px 0px; */
  padding: 64px 0px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.container strong {
  font-weight: bold;
}
.titleSection {
  text-align: center;
  color: var(--black-color-1);

  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.card {
  display: flex;


overflow: hidden;
  border-radius: 12px;
  border: 1px solid var(--border-border-50);
  background: #fff;
}
.imgContainer{
  border-right: 1px solid var(--border-border-50);
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--layout-bg-color);
}
.cardInfoWrapper {
  display: flex;
  flex-direction: column;
  padding: 32px;

  gap: 12px;
}
.cardTitle {
  color: var(--black-color-1);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.cardInfo {
  color: var(--black-color-1);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

@media only screen and (min-width:375px) and (max-width:768px) {
    .container {
    padding: 24px 16px 0px;
    }
    .card{
        padding: 24px;
        gap: 8px;
        flex-direction: column;
        align-items: center;
    }
    .cardInfoWrapper{

    }
}