.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.title {
  color: var(--black-color-1);
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.titleDescription {
  color: var(--black-color-2);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}
.questionDescriptionText {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--black-color-1);
  text-align: center;
}
.questionInstructions{
  color: var(--border-border-100, #99A5C5);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
}
.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  border-radius: 24px;
  
  /* border: 2px solid var(--purple-color-1);
  background: var(--Text-White---Element-White, #FFF);
  box-shadow: 0px 0px 32px 0px rgba(55, 0, 143, 0.20); */
  /* padding: 48px 96px; */
  
}
.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  
}

.prevBtn {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  color: #323738;
  border: 1px solid var(--border-border-50);
  background-color: transparent;
  cursor: pointer;
}

/* .prevBtnIn {
  width: 56px;
  opacity: 1;
  visibility: visible;
}

.prevBtnOut {
  width: 0;
  opacity: 0;
  visibility: hidden;
} */
.prevBtn svg{
  width: 20px;
  height: 20px;
}
.nextBtn {
  display: flex;
  /* width: 280px; */
  width: 100%;
  height: 56px;
  padding: 8px 24px;
  /* color:#fff; */
  color: #9398A1;
  
  font-weight: 600;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 18px;
  line-height: 22px;
  border: none;
  transition: all .3 ease;
  background-color: var(--btn-disabled-color);
  /* transition: background-color 0.3ms ease-in; */
}

.enabled{
  color: #fff;
  cursor: pointer;
  background-color: #00B977;
  transition: all 0.3s ease-in-out;
}
.exitFadeOut{
  animation: exitFadeOut 0.2s ease-out forwards;

}
.loaderWrapper{
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-direction: column;
  gap: 40px;
}
.loaderText{
  color: var(--black-color-1);
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.loaderExtraInfoText{
  color: var(--black-color-1);
  font-size: 28px;
  text-align: center;
  font-weight: 400;
}

