.partnerWithWrapper {
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: center;
}
.partnerWithContainer {
  display: flex;
  /* width: 1140px; */
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 8px;
  border: 1px solid var( --gray-color-1);
  background: #fff;
  width: 100%;
  /* background-color: red; */
}
.partnerWithDivider{
    height: 1px;
    width: 100%;
    background-color: var(--border-border-50);
}
.partnerWithLogoContainer{
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partnerWithLogo{
    /* width: 150px; */
    max-width: 100%;
    /* width: 100%; */
    width: unset;
    object-fit: contain;
    height: 30px;
}
.partnerWithTitle {
    color: var(--black-color-1);
    font-size: 28px;
font-style: normal;
font-weight: 700;
text-align: center;
line-height: 36px;
}
.partnerWithBrandsContainer {
    display: flex;
    align-self: stretch;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    /* gap: 15px; */
}

@media only screen and (max-width:992px){
.partnerWithBrandsContainer{
     gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.partnerWithLogoContainer{
    width: 125px;
    height: 25px;
}
.partnerWithLogo{
    height: 25px;
}
}
@media only screen and (max-width:600px){
    .partnerWithWrapper{
        padding: 0px 16px;
    }
}

