.inputContainer {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

.input {
  padding: 8px 24px;
  width: 488px;
  height: 56px;
  border-radius: 8px;
  cursor: text;
  font-weight: 700;
  font-size: 16px;
  outline: 2px solid var(--black-color-3);
  transition: outline 400ms ease-in-out;
  border: 1px solid var(--gray-color-1);
}
.input:focus {
  outline: 2px solid var(--blue-color-1);
}
.inputError:focus {
  outline: 2px solid var(--err-color);
}
.errContainer {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  /* opacity: 0; */
  align-items: flex-start;

  color: var(--err-color);
  transition: all 400ms ease-in-out;
  /* visibility: hidden; */
}
.errContainer img{
  margin-top: 5px;
}
.errContainer.notVisible{
  height: 0;
  opacity: 0;
  margin-top: 0;
  transition: all 0.5s;
}
.errContainer.visible{
  opacity: 1;
  /* height: 100%; */
}

.otherInput input{
  border: 1px solid var(--blue-color-1);
  width: 100%;
  box-shadow: 0px 0px 4px 0px var(--blue-color-1);
}
.otherInput{
  margin-top: 8px;
  width: 100%;
}
.slideUpEntranceInput{
  opacity: 1;
  visibility: visible;
  animation: slideUpEntranceInput 0.8s ease-in-out forwards;

}
@keyframes slideUpEntranceInput {
  
    
  0% {
      transform: translateY(-70px);
      opacity: 0;
  }

  60% {
      transform: translateY(10px);
      opacity: 1;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@media only screen and (max-width:500px){
  .inputContainer{
    width: 100%;
      /* padding: 40px 16px 0px; */
  }
  .input{
    width: 100%;
  }
}



