.navbarWrapper{
    padding: 0px 24px;
    background-color: #fff;
    width: 100%;
}

.navbar{
    padding: 16px 0px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
}
.logosWrapper{
    display:flex;
    gap:8px;
    align-items:center;
}
@media only screen and (max-width: 767px) {
   
  }