.layout-footer {
  background-color: var(--layout-bg-color);
  color: var(--black-color-1);
  font-size: 30px;
  display: flex;
  /* padding: 40px 0px; */
  padding: 64px 0px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  gap: 56px;
  justify-content: center;
}
.layout-container {
  margin: 0 auto;
  /* width: 98%; */
  /* width: 1140px; */
}
.footerTopContainer{
  display: flex;
  gap: 40px;
}
.infoContainer{
  display: flex;
  gap:32px;
  flex-direction: column;
}
.hearbackContainer{
  width: 100%;
}
.links-wrapper {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}
.links {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
.single-link {
  margin: 10px 0;
}
.title-logos {
  display: flex;
  justify-content: space-between;
}
.title-logos .big-logo img {
  width: 100%;
}
.right-text .logos img {
  margin-right: 15px;
}
.logos{
  display: flex;
  gap: 8px;
}

.text,
.footer-text {
  font-size: 15px;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  color: var(--black-color-1);

}
.footer-text {
  cursor: unset;
  line-height: 24px;
  font-size: 14px;
}
.links-container {
  /* padding-left: 9%;
  margin-top: 25px;
  width: 240px; */
  width: 140px;
  /* margin-right: 36px; */
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.links-title{
  font-size: 16px;
  font-weight: 600;
}


.menu-links-title {
  font-size: 22px;
  font-weight: 800;
}

.right-reserved {
  padding-top: 15px;
}
.disclaimerContainer{
display: flex;
align-items: center;
}
.disclaimerText{
font-size: 13px;
line-height: 20px;
}
.right-reserved{
  text-align: center;
}

/* @media only screen and (min-width: 1200px) {
  .layout-container {
    width: 1140px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .layout-container {
    width: 945px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .layout-container {
    width: 897px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .layout-container {
    width: 721px;
    flex-direction: column;
    padding: 40px 24px;
  }
 
}
@media only screen and (min-width: 451px) and (max-width: 768px) {
  .layout-container {
    width: calc(100% - 24px);
    flex-direction: column;
    padding: 40px 24px;
  }
 
} */
@media only screen and (max-width: 768px) {
  .layout-footer{
    padding: 40px 24px;
  }
  .footerTopContainer{
    flex-direction: column;
  }
  .links-wrapper{
    flex-wrap: wrap;
  }
  .footer{
    padding: 24px 0px;
    gap: 40px;
  }

}
