.layout-footer {
  background-color: var(--layout-bg-color);
  color: var(--black-color-1);
  font-size: 30px;
  display: flex;
  
  
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  gap: 56px;
  justify-content: center;
  width: 100%;
}
.layout-container {
  margin: 0 auto;
  /* width: 98%; */
  /* width: 1140px; */
}
.footerTopContainer{
  display: flex;
  gap: 40px;
}
.infoContainer{
  display: flex;
  gap:32px;
  flex-direction: column;
}
.hearbackContainer{
  width: 100%;
}
.links-container .text{
  padding: 4px;
  position: relative;
  transition: background-color .3s ease;
}
.links-container .hoverArrow{
  position: absolute;
  visibility: hidden;
  /* margin-left: 6px; */
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  transform: translateY(-50%);
}
.links-container .text:hover{
  border-radius: 4px;
  

  background-color: rgba(55, 0, 143, 0.08);
}
.links-container .text:hover .hoverArrow {
  visibility: visible;
  
}
.links-wrapper {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}
.links {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
.single-link {
  margin: 10px 0;
}
.title-logos {
  display: flex;
  justify-content: space-between;
}
.title-logos .big-logo img {
  width: 100%;
}
.right-text .logos img {
  margin-right: 15px;
}
.logos{
  display: flex;
  gap: 8px;
}

.text,
.footer-text {
  font-size: 15px;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  color: var(--black-color-1);

}
.footer-text {
  cursor: unset;
  line-height: 24px;
  font-size: 14px;
}
.links-container {

  width: 140px;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.links-title{
  font-size: 16px;
  font-weight: 600;
}


.menu-links-title {
  font-size: 22px;
  font-weight: 800;
}

.right-reserved {
  padding-top: 15px;
}
.disclaimerContainer{
display: flex;
justify-content: center;
align-items: center;
}
.disclaimerText{
font-size: 13px;
line-height: 20px;
}
.right-reserved{
  text-align: center;
}


@media only screen and (max-width: 768px) {
  .layout-footer{
    /* padding: 40px 24px; */
  }
  .footerTopContainer{
    flex-direction: column;
  }
  .links-wrapper{
    flex-wrap: wrap;
  }
  .footer{
    /* padding: 24px 0px; */
    gap: 40px;
  }

}
