:root{
  /* --layout-bg-color: #f6f6f6; */
  --layout-bg-color: #F9F7FC;

  --black-color-1: #313131;
  --black-color-2: #1C1F33;
  --black-color-3:#006eff00;
  --black-color-4:rgba(0, 0, 0, 0.44);
  --blue-color-1:#006FFF;
  --gray-color-1:rgba(153, 165, 197, 0.40);
  --border-border-50: #C2C8D4;
  
  --border-border-20: rgba(153, 165, 197, 0.20);
  --border-border-100: #99A5C5;
  --btn-disabled-color:#D9E0ED;
  --bg-prev-btn-color:#F6F6F6;
  --selected-bg-color:#e9eff6;
  --err-color:#F62B54;
  --bg-pos-logo:rgba(0, 111, 255, 0.10);
  --grey-input-color: #afb5bf;
  --focus-color: #0075ff;
  --grey-border-color:#C2C8D4;
  --purple-color-1:#37008F;


}
div[data-lastpass-root] {
  display: none !important;
}
[autocomplete="off"] + div[data-lastpass-icon-root="true"] {
  display: none;
}

[autocomplete="off"] + div[data-lastpass-infield="true"] {
  display: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
}
input{
  font-family: inherit;
  color: var(--black-color-1);
}
#root{
  height: 100%;
}
body {
  /* min-height: 100vh; */
  height: 100%;
  margin: 0;
  background-color: var(--layout-bg-color);
  font-family: 'Rubik';
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
  font-family: inherit;

}

html, div, span, applet, object,
 iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code, del, dfn, 
  em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
   sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
   form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, figure, figcaption,
 footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
  margin: 0px;
  border:0px;
  font:inherit;
  padding: 0px;
  vertical-align: baseline;
}
a{
  color: inherit;
  text-decoration: inherit;
  background-color: #0000;
}

.osano-cm-dialog--type_bar.osano-cm-dialog--position_bottom{
  bottom: 0 !important;
}