.layoutContainer {
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}
.layoutWrapper{
  margin: 0 auto;
  padding: 40px 24px;
  /* display: flex; */
}


@media only screen and (min-width: 768px) {
  .layoutWrapper{
    max-width: 720px;
    /* padding: 0; */
    /* padding-top: 40px;
    padding-bottom: 40px; */
    padding-top: 64px !important;
    padding-bottom: 64px !important;
  }
}

@media only screen and (min-width: 992px) {
  .layoutWrapper{
    max-width: 994px;
  }
}


@media only screen and (min-width: 1200px) {
    .layoutWrapper{
      width: 1140px;
   
    }
}
