.layoutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media only screen and (min-width: 1200px) {
    .layoutWrapper{
      width: 1140px;
    }
}
@media only screen and (min-width: 1024px) and (max-width:1199px) {
  .layoutWrapper{
    width: 945px;
  }
}

@media only screen and (min-width: 992px) and (max-width:1023px) {
  .layoutWrapper{
    width: 897px;
  }
}
@media only screen and (min-width: 768px) and (max-width:991px) {
  .layoutWrapper{
    width: 721px;
  }
}

@media only screen and (max-width: 767px) {
  .layoutWrapper{
    /* width: calc(100% - 24px); */
    padding: 16px 0 40px 0px;
  }
}
